body{
    font-family: Montserrat,Helvetica,arial,Microsoft JhengHei,"微軟正黑體",sans-serif;
}
/* 共用 */
h3{
    font-size: 40px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
h4{
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0;
}
.box{
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.40);
    background: #fff;
    margin: 10px;
    padding:20px;
}
.education, .skill{
    background: #f2f2f2;
}

/* header */
.header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
/* home */
.home{
    background: url(../img/bg01.jpg) bottom center no-repeat;
    background-size: cover;
    width: 100%;
}
.name{
    font-size: 50px;
    line-height: 100vh;
    color: #fff;
    margin: 0px auto;
    text-align: center;
    /* animation: cursor 1s steps(1) infinite; */
}
/* @keyframes cursor {
    50% { border-color: transparent; }
} */
/* personal */
.per-img{
    margin: 10px;
    text-align: center;
}
.per-img img{
    border-radius: 10px;
}
/* skill */
.st-transform {
    background-color: lightblue;
    border-radius: 50%;
    -webkit-transition: color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.st-transform:hover {
    background-color: transparent;
    -webkit-transform: rotate(360deg) scale(1.8);
    -ms-transform: rotate(360deg) scale(1.8);
    transform: rotate(360deg) scale(1.8);
}
.fa-inverse:hover, i.active{
    color: lightblue; 
}

/* project */
.bg-cover{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border:1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.40);
    height: 210px;
    max-width: 255px;
    margin:0 auto;
}
.bg-cover a{
    text-decoration: none;
}
.project-title{
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.description{
    background: #222;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
}
.description li{
    list-style-type:none;
    color: #eee;
    line-height: 1.5;
}
.description:hover{
    opacity: 0.8;
}
.badmintonPicture{background-image: url('../img/badmintonPicture.jpg')}
.calculator{background-image: url('../img/calculator.jpg')}
.menuList{background-image: url('../img/menuList.jpg')}
.twsport{background-image: url('../img/twsport.jpg')}
.khtravel{background-image: url('../img/khtravel.jpg')}
.openDataUV{background-image: url('../img/openDataUV.jpg')}
.openDataAQI{background-image: url('../img/openDataAQI.jpg');}
.landing{background-image: url('../img/landing.jpg');}
.shopping{background-image: url('../img/shopping.jpg');}
.sweet{background-image: url('../img/sweet.jpg');}

/* footer */
.footer{
    min-height: 10px;
    text-align: center;
    background: #000;
    color: #fff;
}
.footer p{
    padding:15px 0;
    margin: 0;
}
.back2Top{
    position: fixed;
    bottom: 60px;
    right: 30px;
    opacity: 0.4;
}
.back2Top:hover{
    opacity: 0.8;
}
.back2Top img{
    width: 80px;
}
@media only screen and (min-width: 550px) and (max-width: 900px) {
}
@media only screen and (max-width: 550px) {
    h4{
        font-size: 18px;
    }
    .name{
        font-size: 40px;
    }
    .st-transform {
        font-size: 45px;
    }
    .back2Top{
        bottom: 40px;
        right: 20px;
    }
    .back2Top img{
        width: 60px;
    }
}
@media only screen and (max-width: 440px) {
    h4{
        font-size: 16px;
    }
    .name{
        font-size: 30px;
    }
}