body{
    font-family: Montserrat,Helvetica,arial,Microsoft JhengHei,"微軟正黑體",sans-serif;
}
/* 共用 */
h3{
    font-size: 40px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
h4{
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0;
}
.home, .page{
    min-height: 100vh;
}
.education, .skill{
    background: #f2f2f2;
}
.personal-box, .education-box, .work-box, .skill-box, .project-box{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}
/* header */
.header{
    /* display: block; */
    position: fixed;
    background: #000;
    width: 100%;
    z-index: 1;
    height: 50px;
    /* top: 0px; */
    
    
}
.header li{
    display:inline-block;
}
.header a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: lightgray;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
}
.header a:hover{
    color:#fff;
}
.st-bar{
    display: none;
    border:1px solid #fff;
    height: 50px;
    opacity: 0.8;
}
.home{
    background: url(../img/bg01.jpg) bottom center no-repeat;
    background-size: cover;
    width: 100%;
}
.name{
    font-size: 50px;
    line-height: 100vh;
    color: #fff;
    margin: 0px auto;
    text-align: center;
}
/* personal */
.personal-box{
    /* border: 1px solid #000; */
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.40);
    background: #fff;
    display: flex;
}
.per-img{
    flex:1;
    margin: 10px;
    text-align: center;
}
.per-img img{
    border-radius: 35%;
}
.per-content{
    flex:3;
    margin: 10px;
}
.per-content p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

/* education */
.education-box div, .work-box div{
    /* border: 1px solid #000; */
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.40);
    background: #fff;
    margin: 10px;
    padding:20px;
    font-size: 16px;
    line-height: 1.5;
}

/* skill */
.skill-box{
    /* border:1px solid black; */
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.40);
    background: #fff;
    min-height:50vh;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.skill-box p{
    line-height: 1.4;
    color: #777;
}
.skill-box ul{
    display:flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}
.skill-box li{
    flex: 1;
    text-align: center;
    padding: 10px;
    /* border: 1px solid greenyellow; */
}

.st-transform {
    background-color: lightblue;
    border-radius: 50%;
    -webkit-transition: color 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.st-transform:hover {
    background-color: transparent;
    -webkit-transform: rotate(360deg) scale(1.8);
    -ms-transform: rotate(360deg) scale(1.8);
    transform: rotate(360deg) scale(1.8);
}
.fa-inverse:hover, i.active{
    color: lightblue; 
}

/* project */
.project-box{
    /* border: 5px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-box div{
    margin: 10px;
}
.project-box a{
    text-decoration: none;
}
.project-box p{
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.project-box .cap{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border:1px solid #000;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    width: 280px;
    height: 210px;
}
.description{
    background: #222;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
}
.description li{
    color: #eee;
    line-height: 1.5;
}
.description:hover{
    opacity: 0.8;
}
.badmintonPicture{background-image: url('../img/badmintonPicture.jpg')}
.calculator{background-image: url('../img/calculator.jpg')}
.menuList{background-image: url('../img/menuList.jpg')}
.twsport{background-image: url('../img/twsport.jpg')}
.khtravel{background-image: url('../img/khtravel.jpg')}
.openDataUV{background-image: url('../img/openDataUV.jpg')}
.openDataAQI{background-image: url('../img/openDataAQI.jpg');}
.landing{background-image: url('../img/landing.jpg');}
.shopping{background-image: url('../img/shopping.jpg');}
.sweet{background-image: url('../img/sweet.jpg');}

/* footer */
.footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    background: #000;
    color: #fff;
}
.back2Top{
    position: fixed;
    bottom: 60px;
    right: 30px;
    opacity: 0.4;
}
.back2Top:hover{
    opacity: 0.8;
}
.back2Top img{
    width: 80px;
}
@media only screen and (min-width: 550px) and (max-width: 900px) {
}
@media only screen and (max-width: 550px) {
    .header ul{
        display: none;
    }
    .st-bar{
        display: block;
    }
    h4{
        font-size: 18px;
    }
    .name{
        font-size: 40px;
    }
    .header li{
        display:block;
        margin: 0px;
        background: #000;
        border: 1px solid #fff;
    }
    .page{
        height: auto;
    }
    .skill-box span{
        font-size: 45px;
    }
}
@media only screen and (max-width: 440px) {
    h4{
        font-size: 16px;
    }
    .name{
        font-size: 30px;
    }
    .skill-box span{
        font-size: 30px;
    }
}